# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# TypeScript
*.tsbuildinfo

# Build output
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env.test
.env.production

# Parcel-bundler cache (https://parceljs.org/)
.cache

# SvelteKit build directory
.svelte-kit

# Storybook build outputs
.out
storybook-static

# TypeScript v1 declaration files
typings/

# Optional stylelint cache
.stylelintcache